h1,h2,h3
{
	text-align: center;
}

body
{
	background-color:#ffffff;

}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div.a
{
	color:black;
}

.link
{
	width: 250px;
	text-align: center:
}

img
{
	max-width: 500px;
	height: auto;
	image-align: center;
}

