h1,h2,h3
{
	text-align: centerm;
}

body
{
	background-color:#ffffff;

}

.center
{
	margin: auto;
	border: none;
	padding 10px;
div.a
{
	color:black;
}

.link
{
	width: 250px;
	text-align: center:
}

